/* work sans font style */


.work-sans-regular {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}


/* Shared styles */

*{
    padding: 0;
    margin: 0;
}


.primary-bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}

h1{
    margin: 0;
    padding: 0;
}


.primary-heading{
    font-size: 2.81rem;
    font-weight: bold;
}


.primary-btn{
    background-color: rgba(255, 144, 14, 1);
    font-size: 1.25rem;
    font-weight: 600px;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
}


.dark-1{
    color: #131313;
}

.dark-2{
    color: #424242;
}

.dark-3{
    color: #727272;
}

/* nav bar */

header{
    padding: 50px 230px 45px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav ul{
    display: flex;
    gap: 20px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.125rem;
}

/* banner style */

.banner-heading{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 102px;
}

.banner-description{
    max-width: 868px;
    text-align: center;
    margin: 25px auto 0;
}

.banner-content button{
    display: flex;
    margin: 32px auto 0;
}

.banner-content img{
    max-width: 100%;
    display: flex;
    margin: 50px auto 0;
}

/* css For responsive */

@media (max-width: 576px) {

    /* responsive nav-bar style */
    header{
        padding: 20px 10px 20px;
    }
    .primary-heading{
        font-size: 1.5rem;
    }

    nav ul{
        gap: 10px;
    }

    nav ul li a{
        font-size: 0.8rem;
    }


    /* responsive banner style */
    .banner-heading{
        font-size: 2rem;
        margin-top: 60px;
    }

    .banner-description{
        font-size: 0.8rem;
    }

    .primary-btn{
    font-size: 1rem;
    padding: 10px 20px;
    }

    .banner-content img{
    margin: 25px auto 0;
    }
}